.titelNo1{
    display: flex;
    width: 100%;
    height: 50vh;
}
.bigTitle{
    width: 300px;
    font-size: 42px;
    padding-left: 40px;
}
.bigText{
    width: 100%;
    padding-left: 100px;
    justify-content: space-around;
    display: flex;
}

.textNo1{
    width: 20%;
    gap: 20px;
}
.tilteText{
    width: 200px;
    font-size: 24px;
}
.text{
    color: var(-color-darkText);
    padding: 20px 0;
    width: 300px;
    letter-spacing: 1px;
    font-size: 16px;
}

.endTiltel{
    display: flex;
    width: 140px;
    color: var(--color-footer);
}
.arroow{
    font-size: 30px;
    transform: rotate(180deg);
    margin-left: 20px;
}