.titelNo1 {
    display: grid;
    grid-template-columns:20% auto;
    padding-left: 50px;
}

.bigTitle {
    width: 80%;
    font-size: 3rem;
    transform: translateY(50px);
}

.bigText {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1rem;
    justify-content: space-around;
}

.tilteText {
    width: 100%;
    font-size: 2.4rem;
    font-weight: 500;
}

.text {
    color: var(-color-darkText);
    padding: 20px 0;
    width: 80%;
    letter-spacing: 1px;
    font-size: 1.2rem;
    line-height: 50px;
}

.endTiltel {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    color: var(--color-footer);
}

.arroow {
    font-size: 4rem;
    transform: rotate(180deg);
    margin-left: 20px;
}

@media only screen and (max-width:1235px) {

    .bigTitle {
        font-size: 1.9rem;
        padding-left: 20px;
        width: 90%;
    }
    .bigText{
        
    }
    .tilteText {
        font-size:1.5rem;
    }

    .text {
        width: 100%;
        font-size: 15px;
        line-height: 40px;
    }
    .endTiltel {
        font-size: 1.2rem;
    }
    
    .arroow {
        font-size: 2rem;
    }
}
@media only screen and (max-width:1024px) {

    .bigTitle {
        font-size: 1.7rem;
        padding-left: 5px;
        width: 90%;
    }
    .tilteText {
        font-size:1.3rem;
    }

    .text {
        font-size: 13px;
        line-height: 35px;
    }
    .endTiltel {
        font-size: 1rem;
    }
    
    .arroow {
        font-size: 1.8rem;
    }
}


@media only screen and (max-width:768px) {

    .bigTitle {
        font-size: 1.7rem;
        width: 100%;
    }
    .bigText{
        padding-left: 2rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-row: 100px;
        row-gap: 50px;
    }
    .tilteText {
        font-size: 20px;
    }

    .text {
        width: 100%;
        font-size: 15px;
    }
}
@media only screen and (max-width:677px) {
    .titelNo1{
        padding: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20%;
    }
    .bigTitle {
        font-size: 1.7rem;
        width: 90%;
        text-align: center;
    }
    .tilteText {
        font-size:1.3rem;
    }

    .text {
        font-size: 13px;
        line-height: 35px;
    }
    .endTiltel {
        font-size: 1rem;
    }
    
    .arroow {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:426px) {

    .bigTitle {
        font-size: 2rem;
        padding-left: 1rem;
        max-width: 100%;
        text-align: center;
    }
    .bigText{
        padding-left: 1rem;
        display: grid;
        grid-template-columns: auto ;
        grid-row: 100px 100px;
        row-gap: 50px;
    }
    .tilteText {
        font-size: 20px;
    }

    .text {
        width: 100%;
        font-size: 15px;
    }
}

