.bigContent{
    position: relative;
    background-image: url(../../assets/image/Rectangle\ 1441.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 700px;
}

.titleContent {
    width: 100%;
    position: absolute;
    top: 17rem;
    text-align: center;
    color: var(--color-text);
}

.titleContent h1{
    font-size: 3rem;
    margin: 0 35%;
    margin-bottom: 30px;
}

.titleContent p{
    font-size: 18px;
    margin: 0 40%;
    font-weight: 100;

}

@media only screen and (max-width:1486px) {
    .titleContent {
        top: 15rem;
        left: 22px;
    }
    .titleContent h1{
        font-size: 2.5rem;
        margin: 0 30%;
        margin-bottom: 30px;
    }
    .titleContent p{
        font-size: 22px;
        padding-top: 30px;
        margin: 0 35%;
    }
}
@media only screen and (max-width:1235px) {
    .titleContent {
        top: 11rem;
        left: 22px;

    }
    .titleContent h1{
        font-size: 1.8rem;
        margin: 0 30%;
        margin-bottom: 30px;
    }
    .titleContent p{
        font-size: 18px;
        margin: 0 35%;
    }
}

@media only screen and (max-width:1024px) {
    .titleContent {
        top: 13rem;
    }
    .titleContent h1{
        font-size: 2rem;
        margin: 0 25%;
        margin-bottom: 30px;
    }
    .titleContent p{
        font-size: 18px;
        margin: 0 30%;
    }
}

@media only screen and (max-width:768px) {
    .titleContent {
        top: 10rem;
    }
    .titleContent h1{
        font-size: 1.8rem;
        margin: 0 25%;
        margin-bottom: 30px;
    }
    .titleContent p{
        font-size: 17px;
        margin: 0 30%;
    }
}

@media only screen and (max-width:426px) {
    .titleContent {
        top: 10rem;
    }
    .titleContent h1{
        font-size: 1.8rem;
        margin: 0 5%;
        margin-bottom: 30px;
    }
    .titleContent p{
        display: none;
    }
}