.bigContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 30%;
    width: 650px;
}

.titleContent {
    font-size: 61px;
    color: var(--color-text);
    text-align: center;
}

.textContent {
    color: var(--color-text);
    font-size: 24px;
    width: 90%;
    text-align: center;
    padding-left: 50px;
    padding-top: 50px;
}

@media only screen and (max-width:1020px) {
    .bigContent {
        width: 500px;
        transition: 0.4s all linear;
        left: 25%;
    }

    .titleContent {
        font-size: 40px;

    }

    .textContent {
        font-size: 20px;
        padding-left: 40px;
        padding-top: 40px;
    }
}

@media only screen and (max-width:800px) {
    .bigContent {
        width: 500px;
        transition: 0.4s all linear;
        left: 20%;
    }

    .titleContent {
        font-size: 35px;
    }

    .textContent {
        font-size: 19px;
        padding-left: 40px;
        padding-top: 40px;
    }
}

@media only screen and (max-width:611px) {
    .bigContent {
        width: 350px;
        transition: 0.4s all linear;
        left: 20%;
    }

    .titleContent {
        font-size: 30px;
    }

    .textContent {
        font-size: 18px;
        padding-left: 20px;
        padding-top: 20px;
    }
}

@media only screen and (max-width:425px) {
    .bigContent {
        width: 180px;
        transition: 0.4s all linear;
        left: 20%;
    }

    .titleContent {
        font-size: 28px;
    }

    .textContent {
        font-size: 18px;
        padding-left: 20px;
        padding-top: 20px;
    }
};

