.navHeader{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 50px 50px;
    color: var(--color-text);
}
