.headerOne{
    font-size: 30px;
}

@media only screen and (max-width:1020px) {
    .headerOne{
        font-size: 25px;
    }
}

@media only screen and (max-width:800px) {
    .headerOne{
        font-size: 22px;
    }
}

@media only screen and (max-width:611px) {
    .headerOne{
        font-size: 20px;
    }
}

@media only screen and (max-width:425px) {
    .headerOne{
        font-size: 18px;
    }
}