.bigBodyNo4 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.no1Body {
    line-height: 6rem;
    padding-left: 4rem;
}

.no1Body h4 {
    color: var(--color-info);
    font-size: 2rem;
    font-weight: 400;
}

.no1Body h2 {
    font-size: 65px;
    line-height: 5rem;
    width: 100%;
}

.no1Body div {
    width: 80%;
    line-height: 2rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.info {
    display: flex;
    width: 20rem;
    color: var(--color-footer);
    font-size: 20px;
}

.arroow {
    font-size: 3rem;
    transform: rotate(180deg);
    padding: 4px;
}

.no2Body {
    display: grid;
    grid-template-columns: 50% 50%;
    flex-wrap: wrap;
}

.smallOne {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}

.smallTow {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.img1 {
    width: 50%;
    box-shadow: 5px 20px 20px #888888;
    border-radius: 10px;
    transform: translateX(180px);

}

.img2 {
    width: 50%;
    box-shadow: 5px 20px 20px #888888;
    border-radius: 10px;
    transform: translateX(180px);
}

.img3 {
    width: 50rem;
    box-shadow: 20px 20px 20px #888888;
}

.shadow {
    position: absolute;
    background: #F7F7F7;
    width: 23rem;
    height: 25rem;
    transform: translateY(-10rem);
    border-radius: 20px 0 0 0;
    z-index: -1;
}


@media only screen and (max-width:1024px) {
    .bigBodyNo4 {
        display: grid;
        grid-template-columns: auto auto;

    }

    .no1Body h4 {
        font-size: 1.3rem;
    }

    .no1Body h2 {
        font-size: 2rem;
        width: 100%;
        line-height: 3rem;
    }

    .no1Body div {
        width: 100%;
        line-height: 2rem;
        font-size: 1.1rem;
    }
    .smallOne{
        transform: translateX(-10rem);
    }
    .img3 {
        width: 20rem;
        box-shadow: 20px 20px 20px #888888;
    }

    .shadow {
        width: 13rem;
        height: 12rem;
    }
}

@media only screen and (max-width:768px) {
    .bigBodyNo4 {
        display: grid;
        grid-template-columns: auto auto;
    }

    .no1Body h4 {
        font-size: 1.1rem;
    }

    .no1Body h2 {
        font-size: 1.8rem;
        width: 80%;
        line-height: 2rem;
    }

    .no1Body div {
        width: 80%;
        line-height: 1.8rem;
        font-size: 0.9rem;
    }
    .img1{
        width: 10rem;
        height: 10rem;
        margin-right: 20px;
    }
    .img2{
        width: 10rem;
        height: 10rem;
        margin-right: 50px;
    }
    .img3 {
        width: 10rem;
        box-shadow: 20px 20px 20px #888888;
        border-radius: 10px;
        transform: translateX(-65%) translateY(20%);
    }
    .shadow {
        display: none;
    }

    .no2Body{
        display: grid;
        grid-template-columns: auto;
    }
    .smallOne{
        display: grid;
        grid-template-columns: auto auto;
    }
    .smallTow{
        transform: translateY(-1rem);
    }
}

@media only screen and (max-width:602px) {
    .bigBodyNo4 {
        display: grid;
        grid-template-columns: 80%;
    }       
    .no1Body{
        text-align: center;
    }
    .no1Body h4 {
        font-size: 1.1rem;
        transform: translateX(-3rem);
    }
    .info{
        width: 20px;
    }
    .no1Body h2 {
        font-size: 1.8rem;
        width: 80%;
    }

    .no1Body div {
        width: 80%;
        line-height: 1.8rem;
        font-size: 1.1rem;
        margin: 0;
    }
    .img1{
        width: 10rem;
        height: 10rem;
        margin: 0 20px;
        transform: translateX(14rem);

    }
    .img2{
        width: 10rem;
        height: 10rem;
        transform: translateX(15rem);
    }
    .img3 {
        width: 10rem;
        height: 10rem;
        border-radius: 10px;
        transform: translateX(3rem) translateY(1rem);

    }
    .shadow {
        display: none;
    }

    .no2Body{
        display: grid;
        grid-template-columns: auto;
    }
    .smallOne{
        margin: 70px;
        display: grid;
        grid-template-columns: 100% ;
        transform: translateX(-10rem);
    }
    .smallTow{
        transform: translatex(-45%) translateY(-40%);
    }
}

@media only screen and (max-width:425px) {
    .bigBodyNo4 {
        display: grid;
        grid-template-columns: auto;
    }
    .no1Body{
        text-align: center;
        margin: 0;
        display: grid;
    }
    .no1Body h4 {
        font-size: 1rem;
        transform: translateX(-2rem);
    }
    .info{
        width: 100%;
        transform: translateX(0rem);
    }
    .no1Body h2 {
        font-size: 1.5rem;
        width: 80%;
        margin: 0;
    }

    .no1Body div {
        width: 80%;
        line-height: 1.8rem;
        font-size: 1.1rem;
        margin: 0;
    }
    .img1{
        width: 9rem;
        height: 9rem;
        margin: 0 20px;
    }
    .img2{
        width: 9rem;
        height: 9rem;
        transform: translateX(145%);
        margin-bottom: 40px;
    }
    .img3 {
        width: 9rem;
        height: 9rem;
        border-radius: 10px;
    }
    .shadow {
        display: none;
    }

    .no2Body{
        display: grid;
    }
    .smallOne{
        margin: 3rem;
        grid-template-columns: auto;
        text-align: center;
        justify-content: center;
    }
    .smallTow{
        transform: translatex(-45%) translateY(-40%);
    }
}