.bigSearch {
    width: 100%;
    position: relative;
}

.smallSearch {
    position: absolute;
    display: flex;
    width: 30%;
    left: 43%;
    transform: translateY(-10rem);
}

.input {
    width: 19rem;
    height: 56px;
    background: rgba(255, 255, 255, 0.15);
    border: 0.861538px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    padding: 20px;
    color: var(--color-text);
}

.iconSearch {
    cursor: pointer;
    transform: translateX(-52px) translateY(5px);
    font-size: 45px;
    border: 1px solid var(--color-info);
    padding: 11px;
    border-radius: 50%;
    background: var(--color-info);
    color: var(--color-text);
}
@media only screen and (max-width:1487px) {
    .smallSearch {
        width: 30%;
        left: 42%;
        top: 210px;
        transform: translateY(-22rem);
    }
}
@media only screen and (max-width:1024px) {
    .bigSearch {
        transition: 0.5s all linear;
    }
    .smallSearch {
        width: 30%;
        left: 32%;
        top: 250px;
        transform: translateY(-25rem);
    }
    .input {
        width: 17rem;
        height: 3rem;
        transform: translateX(2.7rem) translateY(-1rem);
    }

    .iconSearch {
        font-size: 2.5rem;
        transform: translateX(-0.1rem) translateY(-0.8rem);
    }

}

@media only screen and (max-width:768px) {
    .bigSearch {
        transition: 0.5s all linear;
    }
    .smallSearch {
        width: 30%;
        left: 25%;
        top: 200px;
        transform: translateY(-25rem);
    }
    .input {
        width: 17rem;
        height: 3rem;
        transform: translateX(2.7rem) translateY(-1rem);
    }

    .iconSearch {
        font-size: 2.5rem;
        transform: translateX(-0.1rem) translateY(-0.8rem);
    }

    .smallSearch {
        width: 0;
    }
}

@media only screen and (max-width:510px) {

    .smallSearch {
        width: 30%;
        left: 15%;
        top: 250px;
    }
    .input {
        width: 17rem;
        height: 3rem;
        transform: translateX(2.7rem) translateY(-1rem);
    }
    .iconSearch {
        font-size: 2.5rem;
        transform: translateX(-0.1rem) translateY(-0.8rem);
    }

    .smallSearch {
        width: 0;
    }
}

@media only screen and (max-width:426px) {
    .bigSearch {
        top: 15rem;
        left: 5.5rem;
        width: 0;
    }
    .smallSearch {
        width: 30%;
        left: 8%;
        top: -105px;
    }
    .input {
        width: 12rem;
        height: 2rem;
        transform: translateX(2.7rem) translateY(-1rem);
    }

    .iconSearch {
        font-size: 2.1rem;
        transform: translateX(0.2rem) translateY(-0.8rem);
    }
    .smallSearch {
        width: 0;
    }
}

