.bigSearch {
    position: absolute;
    top: 544px;
    left: 600px;
}

.smallSearch {
    display: flex;
    width: 100%;
}

.input {
    width: 344px;
    height: 56px;
    background: rgba(255, 255, 255, 0.15);
    border: 0.861538px solid rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    padding: 20px;
    color: var(--color-text);
}

.iconSearch {
    position: absolute;
    cursor: pointer;
    transform: translateX(-52px) translateY(5px);
    font-size: 45px;
    border: 1px solid var(--color-info);
    padding: 11px;
    border-radius: 50%;
    background: var(--color-info);
    color: var(--color-text);
}

@media only screen and (max-width:1024px) {
    .bigSearch {
        top: 444px;
        left: 300px;
        width: 0;

    }
    .smallSearch{
    width: 0;
    }
}

@media only screen and (max-width:768px) {
    .bigSearch {
        top: 404px;
        left: 200px;
        width: 0;
    }
}