.shopHeader {
    font-size: 40px;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.numberShop {
    position: absolute;
    font-size: 18px;
    border: 1px solid red;
    text-align: center;
    border-radius: 50%;
    padding: 3px;
    background-color: red;
    transform: translateX(26px) translateY(-46px);
    height: 30px;
    width: 20px;
}

@media only screen and (max-width:1020px) {
    .shopHeader {
        font-size: 35px;
    }

    .numberShop {
        font-size: 15px;
        height: 28px;
        width: 17px;
        transform: translateX(20px) translateY(-40px);
    }
}

@media only screen and (max-width:800px) {
    .shopHeader {
        font-size: 30px;
    }

    .numberShop {
        font-size: 15px;
        height: 25px;
        transform: translateX(17px) translateY(-36px);
    }
}

@media only screen and (max-width:611px) {
    .shopHeader {
        font-size: 25px;
    }

    .numberShop {
        font-size: 13px;
        height: 21px;
        width: 15px;
        transform: translateX(15px) translateY(-30px);
    }
}

@media only screen and (max-width:425px) {
    .shopHeader {
        font-size: 25px;
        width: 100%;
    }

    .numberShop {
        font-size: 13px;
        height: 21px;
        width: 15px;
        transform: translateX(192px) translateY(-30px);
    }
}