.headerTow {
    font-size: 19px;
}

.iconDown {
    padding-top: 6px;
}

.nav1 {
    font-size: 19px;
    cursor: pointer;
}

.headerMenu {
    display: flex;
    list-style: none;
    gap: 30px;
}

@media only screen and (max-width:1024px) {
    .headerTow {
        font-size: 0.5rem;
    }
    .nav1{
        font-size: 1.1rem;
    }
}

@media only screen and (max-width:768px) {
    .headerTow {
        font-size: 0.5rem;
    }
    .nav1{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:426px) {
    
    .headerMenu{
        display: none;
    }
}

